<div class="product-list-item clearfix">
    <div class="col-xs-4">
        <img ng-src="{{product.images[0]}}">
    </div>
    <div class="col-xs-8">
        <p class="col-xs-12">{{product.productName}} <span class="pull-right">{{product.price | currency: '£'}}</span></p>
        <p class="col-xs-12">{{product.description}}</p>
        <p class="col-xs-12">{{product.category}}</p>
        <div class="col-xs-12">
            <div class="btn-success btn" ng-click="addItem(product)">
                <span class="glyph-icon glyphicon-plus"></span>
            </div>
            <div class="btn-danger btn" ng-click="decrementItem(product)">
                <span class="glyph-icon glyphicon-minus"></span>
            </div>
        </div>
    </div>
</div>
