<div class="row product-list-item">
    <div class="col-xs-12 col-sm-6">
        <img ng-src="{{product.images[0]}}">
    </div>
    <div class="col-xs-12 col-sm-6">
        <p class="col-xs-12"><span>{{product.productName}}</span> - {{product.price}}</p>
        <p class="col-xs-12">{{product.description}}</p> 
        <div class="col-xs-12">
            <div class="btn-success btn" ng-click="addItem(product)">
                <span class="glyph-icon glyphicon-plus"></span>
            </div>
            <div class="btn-danger btn" ng-click="decrementItem(product)">
                <span class="glyph-icon glyphicon-minus"></span>
            </div>
        </div>
    </div>
</div>
