.basketWrapper {

  position: relative;

  .basketContainer {

    background-color: blue;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    z-index: 5;
    opacity: 1;

    &.ng-hide {
      opacity: 0;
    }

    &.ng-hide-remove,
    &.ng-hide-add
    {
      transition:0s linear all;
    }

    &.ng-hide-remove-active, &.ng-hide-add-active {

      transition:0.2s linear all;
    }
  }
}