<div id="productContainer">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Edit</th>
        </thead>
        <tr ng-repeat="product in products">
            <td>{{product.productName}}</td>
            <td>{{product.description}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>,
            <td>
                <a ng-href="#/admin/editProduct/{{product._id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
    </table>
</div>