<div class="col-xs-12">
    <order ng-hide="cartContents.numItems==0"></order>
    <div ng-if="!cartContents.numItems">
        <h3>You don't have any items in your basket!</h3>
        <h4><a href='#/products'>Visit the products page to add some items to your basket</a></h4>
    </div>
</div>
<div class="paymentDetailsContainer" ng-hide="cartContents.numItems==0">
    <form method="POST" id="checkout" ng-submit="processPayment($event)">
        <span class="payment-errors"></span>
        <div class="form-group" class="col-xs-12 col-sm-6">
            <label for="cardNumber">Card Number</label>
            <input class="form-control" type="text" size="20" data-stripe="number" ng-model="number" id="cardNumber" />
        </div>
        <div class="form-group" class="col-xs-12 col-sm-6">
            <label for="cvc">CVC</label>
            <input class="form-control" type="text" size="4" data-stripe="cvc" ng-model="cvc" id="cvc"/>
        </div>
        <div class="form-group" class="col-xs-12 col-sm-6">
            <label for="expMonth">Expiration Month</label>
            <input class="form-control" type="text" size="2" data-stripe="exp-month" ng-model="expMonth" id="expMonth"/>
        </div>
        <div class="form-group" class="col-xs-12 col-sm-6">
            <label for="expYear">Expiration Year</label>
            <input class="form-control" type="text" size="4" data-stripe="exp-year" ng-model="expYear" id="expYear"/>
        </div>
        <button type="submit">Submit Payment</button>
    </form>
    <p>{{processingStatus}}</p>
</div>
