<div id="producstContainer" class="col-xs-12">
    <ul ng-repeat="product in products" class="col-xs-8">
        <li>
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
            <div class="btn-success btn" ng-click="addItem(product)">Add</div>
            <div class="btn-danger btn" ng-click="decrementItem(product)">Remove</div>
        </li>
    </ul>
    <ul class="col-xs-4" ng-repeat="cartItem in cartContents">
        <span>{{cartItem.item.name}}</span> - <span>{{cartItem.item.price}}</span> - <span>{{cartItem.quantity}}</span>
    </ul>
</div>

